@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-dvh bg-gradient-to-b from-[#101127] to-[#0e0e0e] text-white;
}

img {
  border-radius: 8px;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(24, 25, 52, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
